<div class="rhs-info">

  <% if workouts[0]["videoId"] == nil %>
    This video is broken
  <% else %>
  <br />
    <div>
      Sign up to add this workout to your profile!
    </div>
    <br />

    <div>
    <div class="border py-4 px-3">
    <% singular_id = id %>
    <% singular_id = id.chop if id[-1] == 's' %>
    <h3 class="text-center" style="margin-block-end: 1em;">Most Popular <%= singular_id.capitalize %> Workouts</h3>
    
    <% top_5 = Workout.popular %>
    <% top_5.each do |like| %>
      <% if id == like.bodyId %>
        <%= form_with url: profile_like_path(like.bodyId), method: :put do |form| %>
          <%= hidden_field_tag(:videoId, like.videoId) %>
          <%= hidden_field_tag(:id, like.bodyId) %>
          <%= form.submit like.title, class: "liked-videos" %>
        <% end %>
        <br />
        <p>*******</p>
        <% end %>
      <% end %>

    </div>
    

    </div>


  <% end %> 

</div>