
<header class="md-4" style="margin: 2em;">
  <h2 class="text-center"><%= id.capitalize %> workouts</h2>
</header>
<section>
  <% workouts.each do |workout| %>
    <div class="video-div col-lg-8" style="margin-bottom: 3em;">
      <h4><%= workout["title"] %></h4>
      </br>
      <p><%= workout["description"] %></p>
      <p>- <%= workout["channel"] %></p>
      </br>
      <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" style="padding: 5px;" width="560" height="315" src="https://www.youtube.com/embed/<%=workout["videoId"]%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      </div>
      <%# link_to "Next new", "/workouts/#{id}", method: :put, :nextPageToken => workout['nextPageToken'] %>
  <% end %>
</section>
<div>
</div>