<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Innercise</title>
  </head>
  <body>

  <div class="container">
    <div class="row justify-content-between">
      <div class="mt-4">
        <%= form_with url: workout_path(@body_id), method: :put do |form| %>
          <%= hidden_field_tag(:nextPageToken, @workouts[0]['prevPageToken']) %>
          <%= form.submit "Previous", class: "btn btn-default btn-primary ml-3" %>
        <% end %>
      </div>
      <div class="mt-4">
        <%= form_with url: workout_path(@body_id), method: :put do |form| %>
          <%= hidden_field_tag(:nextPageToken, @workouts[0]['nextPageToken']) %>
          <%= form.submit "Next", class: "btn btn-default btn-primary mr-3" %>
        <% end %>
      </div>
    </div>
  </div>

    <%= render partial: "videos", locals: { workouts: @workouts, id: @body_id, next_page: @next_page }, class: "col-lg-10" %>

  </body>
</html>
