<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Innercise</title>
    </head>
    <body>  
    
    <section>
      <div id="index-cards" class="col-lg-9">

        <div id="responsive-row" class="row ml-1 mr-1">
          <div id="responsive-card" class="card col-sm-5 col-lg-5">
            <%= link_to workout_path(:id => "arms") do %>
              <%= image_tag 'anastase-maragos-arms.png', class: 'card-img-top', alt: 'Card image cap' %>
              <div class="card-body">
              <h5 class="card-title text-center">ARMS</h5>
              <h6 class="card-subtitle mb-2 text-muted text-center">Exercises for biceps and triceps</h6>
              </div>
            <% end %>
          </div>
          <div id="responsive-card" class="card col-sm-5 col-lg-5">
            <%= link_to workout_path(:id => "shoulders") do %>
              <%= image_tag 'john-arano-shoulders.png', class: 'card-img-top', alt: 'Card image cap' %>
              <div class="card-body">
              <h5 class="card-title text-center">SHOULDERS</h5>
              <h6 class="card-subtitle mb-2 text-muted text-center">Add definition in your home</h6>
              </div>
            <% end %>
          </div>   
        </div>
              
        <div id="responsive-row" class="row ml-1 mr-1">
          <div id="responsive-card" class="card col-sm-5 col-lg-5">
            <%= link_to workout_path(:id => "core") do %>
              <%= image_tag 'jonathan-borba-core.png', class: 'card-img-top', alt: 'Card image cap' %>
              <div class="card-body">
              <h5 class="card-title text-center">CORE</h5>
              <h6 class="card-subtitle mb-2 text-muted text-center">Strengthen and tone</h6>
              </div>
            <% end %>
          </div>
          <div id="responsive-card" class="card col-sm-5 col-lg-5">
            <%= link_to workout_path(:id => "back") do %>
              <%= image_tag 'edgar-chaparro-back.png', class: 'card-img-top', alt: 'Card image cap' %>
              <div class="card-body">
              <h5 class="card-title text-center">BACK</h5>
              <h6 class="card-subtitle mb-2 text-muted text-center">Delts, Traps and Obliques</h6>
              </div>
            <% end %>
          </div>
        </div> 
          
        <div id="responsive-row" class="row ml-1 mr-1">
          <div id="responsive-card" class="card col-sm-5 col-lg-5">
            <%= link_to workout_path(:id => "chest") do %>
              <%= image_tag 'rohit-reddy-chest.png', class: 'card-img-top', alt: 'Card image cap' %>
              <div class="card-body">
              <h5 class="card-title text-center">CHEST</h5>
              <h6 class="card-subtitle mb-2 text-muted text-center">Body weight exercises for your pecs</h6>
              </div>
            <% end %>
          </div>
          <div id="responsive-card" class="card col-sm-5 col-lg-5">
            <%= link_to workout_path(:id => "glutes") do %>
              <%= image_tag 'glutes.png', class: 'card-img-top', alt: 'Card image cap' %>
              <div class="card-body">
              <h5 class="card-title text-center">GLUTES</h5>
              <h6 class="card-subtitle mb-2 text-muted text-center">Isolating muscles groups for more lift</h6>
              </div>
            <% end %>
          </div>
        </div>

        <div id="responsive-row" class="row ml-1 mr-1">
          <div id="responsive-card" class="card col-sm-5 col-lg-5">
            <%= link_to workout_path(:id => "legs") do %>
              <%= image_tag 'foto-garage-ag-legs.png', class: 'card-img-top', alt: 'Card image cap' %>
              <div class="card-body">
              <h5 class="card-title text-center">LEGS</h5>
              <h6 class="card-subtitle mb-2 text-muted text-center">Do not forget leg day</h6>
              </div>
            <% end %>
          </div>
          <div id="responsive-card" class="card col-sm-5 col-lg-5">
            <%= link_to workout_path(:id => "yoga") do %>
              <%= image_tag 'kike-vega-yoga.png', class: 'card-img-top', alt: 'Card image cap' %>
              <div class="card-body">
              <h5 class="card-title text-center">YOGA</h5>
              <h6 class="card-subtitle mb-2 text-muted text-center">Improve posture and strength</h6>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    
      <div id="responsive-column" class="col-lg-3 float-right">

        <div id="rhs-info">
          <%= render partial: "most_popular" %> 
        </div>

        <div id="rhs-info">
          <%= render partial: "recommended" %> 
        </div>

      </div>
    </section>

    <script>
    </script>

  </body>
</html>