<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Innercise</title>
  </head>
  <body>  
    <header>
      <h1>Innercise</h1>
    </header>

    <section>

    <%= link_to workouts_arms_path, :id => "arms" do %>
      <button>
        Arms
      </button>
    <% end %>

    <% 
=begin %>  
    <%= link_to workout_path(:id => "shoulders") do %>
      <button>
        Shoulders
      </button>
    <% end %>
    
    <%= link_to workout_path(:id => "chest") do %>
      <button>
        Chest
      </button>
    <% end %>

    <%= link_to workout_path(:id => "back") do %>
      <button>
        Back
      </button>
    <% end %>

    <%= link_to workout_path(:id => "core") do %>
      <button>
        Core
      </button>
    <% end %>
   
    <%= link_to workout_path(:id => "glutes") do %>
      <button>
        Glutes
      </button>
    <% end %>

    <%= link_to workout_path(:id => "legs") do %>
      <button>
        Legs
      </button>
    <% end %>
    <% 
=end %>
    </section>

<script>


</script>

  </body>
</html>