<!DOCTYPE html>
<html>
  <head>
    <title>Innercise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;489&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <%= render "layouts/nav_bar_public" %> 


  <body>
    <%= yield %>
  </body>
</html>
